<!-- This is the default page the user will see when they go to the phygital tool. This page displays 
information about the question list and wether the user wants to continue -->
@using System.Security.Cryptography
@using Microsoft.AspNetCore.Identity
@using Phygital.Domain.User
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@{
    ViewData["Title"] = "Home";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1>Phygital tool</h1>
        <p>Druk op de knop "ga verder" om in te loggen.</p>
        <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Login">Ga verder</a>
    </div>
}

@if (User.IsInRole("Owner"))
{
    <div class="row justify-content-center">
        <h1 class="text-center py-2">Welkom @UserManager.GetUserName(User)</h1>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht organisaties</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Organisatie" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Voeg account toe</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Register">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Beheer je account</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Manage/Index">Ga verder</a>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div class="row justify-content-center">
        <h1 class="text-center py-2">Welkom @UserManager.GetUserName(User)</h1>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht flows</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Flow" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht thema's</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Thema" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht werknemers</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Organisatie" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Voeg werknemers toe</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Register">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Beheer je account</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Manage/Index">Ga verder</a>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("SubAdmin"))
{
    <div class="row">
        <h1 class="text-center py-2">Welkom @UserManager.GetUserName(User)</h1>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht flows</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Flow" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht thema's</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Thema" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Beheer je account</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Manage/Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Voeg werknemers toe</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Register">Ga verder</a>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("Supervisor"))
{
    <div class="row justify-content-center">
        <h1 class="text-center py-2">Welkom @UserManager.GetUserName(User)</h1>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht van flows</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Flow" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Beheer je account</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Manage/Index">Ga verder</a>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("User"))
{
    <div class="row justify-content-center">
        <h1 class="text-center py-2">Welkom @UserManager.GetUserName(User)</h1>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Overzicht van flows</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Flow" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Feedback</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="" asp-controller="Feedback" asp-action="Index">Ga verder</a>
                </div>
            </div>
        </div>

        <div class="col-4 py-2">
            <div class="card text-center">
                <h5 class="card-header">Beheer je account</h5>
                <div class="card-body">
                    <a type="button" class="btn btn-warning w-25" asp-area="Identity" asp-page="/Account/Manage/Index">Ga verder</a>
                </div>
            </div>
        </div>
    </div>
}