@model IEnumerable<Phygital.Domain.Themas.Theme>

@{
    ViewBag.Title = "Thema Overzicht";
    Layout = "_Layout";
}

@if (TempData["ErrorMessage"] != null)
{
<script type="text/javascript">
    window.onload = function() {
        alert("@TempData["ErrorMessage"].ToString()");
    }
</script>
}


@if (User.IsInRole("SubAdmin"))
{
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Thema</th>
            <th>Wijzig</th>
            <th>Verwijder</th>
        </tr>
        </thead>
        @{
            foreach (var thema in Model)
            {
                <tr>
                    <td>@thema.Id</td>
                    <td>@thema.Title</td>
                    <td>
                        <a asp-controller="Thema" asp-action="Edit" asp-route-id="@thema.Id" class="btn btn-success bi bi-pencil-square"></a>
                    </td>
                    <td>
                        <form asp-controller="Thema" asp-action="Delete" asp-route-id="@thema.Id" method="post">
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash" ></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
    <div class="row align-content-center">
        <div class="col d-flex justify-content-end">
            <a type="button" class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <div class="col d-flex justify-content-start">
            <a type="button" class="btn btn-warning" asp-area="" asp-controller="Thema" asp-action="Add">Thema aanmaken</a>
        </div>
    </div>
}

