@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Phygital.Domain.Datatypes
@using Phygital.Domain.Themas
@using Phygital.UI_MVC.Models.Dto
@model FlowDto

@{
    ViewBag.Title = "Edit flow";
    Layout = "_Layout";
}

<div>
    <h2>Edit flow</h2>
    <form asp-controller="Flow" asp-action="Edit" method="post">
        @* asp-route-id="@Model.Id"*@
        @*<input type="hidden" name="_method" value="put" />*@
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input asp-for="Id" class="form-control" readonly/>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FlowType">Flowtype</label>
            <select asp-for="FlowType" asp-items="@(new SelectList(Enum.GetValues<Flowtype>()))" class="form-control"></select>
            <span asp-validation-for="FlowType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsOpen">Is Open</label>
            <select asp-for="IsOpen" class="form-control">
                <option value="true">Open</option>
                <option value="false">Closed</option>
            </select>
            <span asp-validation-for="IsOpen" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ThemeId">Thema</label>
            <select asp-for="ThemeId" asp-items="@(new SelectList(ViewBag.Themes, "Id", "Title"))" class="form-control">
                @*@foreach (var theme in (IEnumerable<Theme>)ViewBag.Themes)
                {
                    <option value="@theme.Id">@theme.Title</option>
                }*@
            </select>
            <span asp-validation-for="ThemeId" class="text-danger"></span>
        </div>
        <div class="col d-flex justify-content-begin">
            <a asp-controller="FlowElements" asp-action="AddImage" asp-route-flowId="@Model.Id" class="btn btn-warning m-1">Add Image</a>
            <a asp-controller="FlowElements" asp-action="AddText" asp-route-flowId="@Model.Id" class="btn btn-warning m-1">Add Text</a>
            <a asp-controller="FlowElements" asp-action="AddVideo" asp-route-flowId="@Model.Id" class="btn btn-warning m-1">Add Video</a>
            <a asp-controller="Question" asp-action="Edit" asp asp-route-id="@Model.Id" class="btn btn-warning m-1">View Questions</a>
        </div>

        <div class="row align-content-center py-3 text-center justify-content-center">
            <div class="col d-flex justify-content-center">
                <input type="submit" value="Save" class="btn btn-warning m-1"/>
                <a asp-action="Index" class="btn btn-warning m-1">Cancel</a>
            </div>
        </div>
    </form>
</div>