@using Phygital.Domain.Datatypes
@model Phygital.UI_MVC.Models.Dto.Feedback.FeedbackViewModel
@{
    ViewBag.Title = "Feedback";
    Layout = "_Layout";
}

<h2>Laat ons jouw mening horen!</h2>
<a asp-controller="Feedback" asp-action="Add" class="btn btn-warning spacing-top">Post je mening!</a>
@{
    foreach (var post in Model.Posts)
    {
        var collapseId = $"collapseExample{post.Id}";

        <div class="card spacing-top post" data-post-id="@post.Id">
            <div class="card-header">
                <div class="row d-flex">
                    <div class="col d-flex">
                        <h3>@post.Account.Name</h3>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <p>@post.PostTime</p>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col d-flex justify-content-start">
                        <h3>@post.Title</h3>
                    </div>
                    @*TODO: Misschien beide initializers in 1 static functie insteken voor themas insteken???*@
                    <div class="col d-flex justify-content-between">
                        @*<h3>@post.Theme.Title</h3>*@
                    </div>
                    <div class="col ">
                        <div class="d-flex gap-3 justify-content-end">
                            <a asp-controller="Feedback" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-success bi bi-pencil-square"></a>
                            <form asp-controller="Feedback" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@post.Id"/>
                                <button class="btn btn-danger bi bi-trash"></button>
                            </form>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="card-body container">
                <p>@post.Text</p>
                <div class="row">
                    <div class="col d-flex">
                        <div class="col d-flex gap-2">
                            <button type="submit" class="btn btn-success bi bi-hand-thumbs-up" id="likeButton_@post.Id" data-post-id="@post.Id">
                                <span id="likeCount_@post.Id">@post.PostLikes.Count(like => like.Like.LikeType == LikeType.ThumbsUp)</span> @*@post.PostLikes.Count(like => like.Like.LikeType == LikeType.ThumbsUp)*@
                            </button>
                            <button type="submit" class="btn btn-danger bi bi-hand-thumbs-down" id="dislikeButton_@post.Id" data-post-id="@post.Id">
                                <span id="dislikeCount_@post.Id">@post.PostLikes.Count(like => like.Like.LikeType == LikeType.ThumbsDown)</span> @*@post.PostLikes.Count(like => like.Like.LikeType == LikeType.ThumbsDown)*@
                            </button>
                        </div>

                        <div class="col">
                            <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="False" aria-controls="@collapseId">
                                Reacties: <span id="reactionCount_@post.Id">@post.PostReactions.Count</span>
                            </button>
                        </div>
                    </div>
                </div>

                @* hidden reactions*@
                <section class="collapse" id="@collapseId">
                    <div class="card card-body spacing-top">

                        <form id="reactionForm_@post.Id" method="post">
                            <input type="hidden" name="postId" id="postIdForReactions_@post.Id" value="@post.Id"/>
                            <div class="input-group">
                                <input asp-for="Reaction.Content" type="text" class="form-control" name="content_@post.Id"/>
                                <span asp-validation-for="Reaction.Content" class="text-danger"></span>
                                <button type="submit" id="submitReaction_@post.Id" class="btn btn-primary bi bi-send"></button>
                            </div>
                        </form>

                        <div id="listReactions_@post.Id"></div>
                    </div>
                </section>
            </div>
        </div>
    }
}

@section Scripts {
    <script src="~/dist/feedback.entry.js" defer></script>
}