@using Phygital.Domain.Feedback;
@using System.Collections.Generic;
@using Phygital.Domain.Datatypes
@model IEnumerable<Post>

@{
    ViewBag.Title = "Feedback";
    Layout = "_Layout";
}

<h2> Alle Posts</h2>

@{
    foreach (var post in Model)
    {
        <div class="card">
            <div class="card-header">
                <a asp-controller="Feedback" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning align-content-end">Edit</a>
                <form asp-controller="Feedback" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@post.Id" />
                    <button class="btn btn-warning align-content-end">Verwijder</button>
                </form>
                <h3>@post.Title</h3>
            </div>
            <div class="card-body">
                <p>@post.Text</p>
    
                
                <p>Likes: @post.PostLikes.Count(like => like.Like.LikeType == LikeType.ThumbsUp)</p>
                <form asp-controller="Feedback" asp-action="LikePost" method="post">
                    <input type="hidden" name="postId" value="@post.Id" />
                    <button type="submit" class="btn btn-success">👍</button>
                </form>
               
                <p>Dislikes: @post.PostLikes.Count(like => like.Like.LikeType == LikeType.ThumbsDown)</p>
                <form asp-controller="Feedback" asp-action="DislikePost" method="post">
                    <input type="hidden" name="postId" value="@post.Id" />
                    @*TODO: deze foreach is niet nodig, enkel de likeId moet meegegeven worden maar kan niet op andere manier lol*@
                    @{
                        foreach (var postLike in post.PostLikes)
                        {
                            var likeId = postLike.Like.Id;
                            <input type="hidden" name="likeId" value="@likeId"/>
                        }
                    }
                   
                    <button type="submit" class="btn btn-danger">👎</button>
                </form>
    
                <h5>Reacties:</h5>
                <form asp-controller="Feedback" asp-action="AddReaction" method="post">
                    <input type="hidden" name="postId" value="@post.Id" />
                    <textarea name="content"></textarea>
                    <input type="submit" class="btn btn-outline-success" value="Add Reaction" />
                </form>
                @foreach(var reaction in post.PostReactions)
                {
                    <p class="text-body">@reaction.Reaction.Content</p>
                }
            </div>
        </div>
    }
}

<a asp-controller="Feedback" asp-action="Add" class="btn btn-warning">Post je mening!</a>
